---
layout: menu-page
title: About
permalink: about:output_ext
---
{% include calculate_relative_base.html %}
{% include escape-404.html %}

<div class="small-wrapper">
  <div class="about-container">
    <section class="about-header">
      <div class="author-image-container">
        <a href='{{ site.website }}'><img src="{{ relativebase }}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <h3>About</h3>
      <p class="subtitle">I have decided that it is time to tackle a challenge that has been on my bucket list for a while, that being to walk the Bibbulmun track. I will be walking from Kalamunda to Albany; a distance of just over 1,000km. I will be doing it solo but with great support from Annie and the family, starting in mid August and aiming to be in Albany a couple months later. </p>

      <p class="subtitle">  It seemed too good an opportunity not to use this event to raise some funds for a good cause, and I have chosen Alzheimer’s WA to support. I’d welcome your support whether that be just in mind or via a cash donation, but please don’t feel like you have to. I’d also certainly appreciate it if you could pass this message on to others who you think might like to know about my whereabouts for a couple of months!</p>
      <a href="https://www.mycause.com.au/page/257269/bruces-endtoend?ref=royston.au">Click here to head to my Fundraising page</a>
    </section>
    <section class="about-body">
    </section> <!-- End About Body-->
  </div> <!-- End About Container -->
</div> <!-- End Small Wrapper -->
